//Colores
$cVerde: #4cb8b3;
$cRosa: #f53756;
$cAmarillo: #fef46d;
$cMorado: #752f97;
$cNegro: #0000;
$cBlanco: #ffff;
//Fuente
$fPrincipal: 'Montserrat',
sans-serif;
//--Fuente_tamaño
$fPrincipal300: 300;
$fPrincipal400: 400;
$fPrincipal700: 700;
$fPrincipal900: 900;