.header {
    background-color: $cVerde;
    .header__contenido {
        padding: $separacion - 1 0rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq($tablet) {
            flex-direction: column;
        }
    }
    h1 {
        font-weight: $fPrincipal700;
        color: $cBlanco;
        @include mq($tablet) {
            font-size: 3.5rem;
            text-align: center;
        }
    }
}

.navegacion {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    a {
        color: $cBlanco;
        transition: ease .4s;
        font-size: 2rem;
        &:hover {
            color: $cAmarillo;
        }
    }
    @include mq($tablet) {
        margin-top: 3rem;
    }
    @include mq($phone) {
        margin-top: 3rem;
        flex-direction: column;
    }
}