.video {
    position: relative;
    max-height: 50rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(129.73deg, rgba(245, 87, 108, 0.5) 12.98%, rgba(184, 56, 199, 0.5) 84.94%);
    }
    video {
        display: block;
        width: 100%;
    }
}

.video__contenido {
    color: $cBlanco;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    h2 {
        display: flex;
        flex-direction: column;
        font-size: 7rem;
        align-items: flex-start;
        span {
            background-color: $cRosa;
            font-size: 2rem;
            padding: 1rem 2rem
        }
    }
}